<div class="container">
  <div class="row">
    <h1 class="mt-5 mb-5">{{title}}</h1>
  </div>
  <app-addform-worker
    (addWorker)="onAddWorker($event)"
    (changeWorker)="changeWorker($event)"
    [name]="name"
    [surname]="surname"
    [type]="type"
    [change]="change"
  ></app-addform-worker>

  <app-table-workers
  [title]="'Programmers'"
  [workers]="getByTag(myWorkerType.programmer)"
  (deleteWorker)="onDeleteWorker($event)"
  (changeWorker)="onChangeWorker($event)"
  ></app-table-workers>
  <app-table-workers
  [title]="'Designers'"
  [workers]="getByTag(myWorkerType.designer)"
  (deleteWorker)="onDeleteWorker($event)"
  (changeWorker)="onChangeWorker($event)"
  ></app-table-workers>
  <app-table-workers
  [title]="'Managers'"
  [workers]="getByTag(myWorkerType.manager)"
  (deleteWorker)="onDeleteWorker($event)"
  (changeWorker)="onChangeWorker($event)"
  ></app-table-workers>
  <app-table-workers
  [title]="'Copywriters'"
  [workers]="getByTag(myWorkerType.copywriter)"
  (deleteWorker)="onDeleteWorker($event)"
  (changeWorker)="onChangeWorker($event)"
  ></app-table-workers>
</div>

